<div class="card mm-4 shadow-sm">
  <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{productItem.name}}</text></svg> -->
  <img
    class="bd-placeholder-img card-img-top p-2"
    width="100%"
    [src]="productItem.imageUrl"
  />

  <div class="card-body">
    <p class="card-text">
      <strong> {{ productItem.price | currency: "USD" }}</strong>
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="handleAddToCart()"
        >
          Add to Cart
        </button>
        <i *ngIf="addedToWishList" class="fas fa-heart float-right"
        (click)="removeFromWishList()"
        ></i>
        <i *ngIf="!addedToWishList" class="far fa-heart float-right"
        (click)="addToWishList()"
        ></i>
      </div>
    </div>
  </div>
</div>
